pipeline/4-web activity get.json
{
	"name": "4-web activity get",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://dummy.restapiexample.com/api/v1/employees"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_insert]",
								"storedProcedureParameters": {
									"age": {
										"value": {
											"value": "@item().employee_age",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"id": {
										"value": {
											"value": "@item().id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"name": {
										"value": {
											"value": "@item().employee_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"salary": {
										"value": {
											"value": "@item().employee_salary",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_destination",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web1').output.data",
						"type": "Expression"
					},
					"condition": {
						"value": "@greaterOrEquals(item().id,5)",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "assignment"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-22T11:45:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}