pipeline/5-web activity get.json
{
	"name": "5-web activity get",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://dummy.restapiexample.com/api/v1/employee/1"
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_insert]",
					"storedProcedureParameters": {
						"age": {
							"value": {
								"value": "@activity('Web1').output.data.employee_age",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"id": {
							"value": {
								"value": "@activity('Web1').output.data.id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"name": {
							"value": {
								"value": "@activity('Web1').output.data.employee_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"salary": {
							"value": {
								"value": "@activity('Web1').output.data.employee_salary",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_destination",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "assignment"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-22T11:45:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}